%nav.navbar.navbar-default{:role => "navigation"}
  .container-fluid
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} DBC Blog
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      -if user_signed_in?
        %form
          =link_to "Sign Out", destroy_user_session_path, {class: 'btn btn-primary btn-sm navbar-btn pull-right', method: 'delete'}
      -else
        %form
          =link_to "Sign In", new_user_session_path, {class: 'btn btn-primary btn-sm navbar-btn pull-right', href: new_user_session_path}
      %ul.nav.navbar-nav.pull-right


        %li.active
          =link_to "Home", root_path
          %span.sr-only (current)
        %li
          =link_to "Blog", posts_path



